*{
  box-sizing:border-box ;
}
.mainGrpChatContainer{
  height: 100vh;
  width: 100vw;
}
.secondary{
  height: 90%;
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}
.msgInput{
  display: flex;
  width: 100%;
  height: 10%;
  bottom: 0;
}
.msgInput form{
  height: 100%;
  width: 100%;
  border-top:1px solid grey;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}
.msgInput form input{
  background-color: #c9c9c9;
  padding: 10px;
  width: 80%;
  border-radius: 20px;
  border: none;
  max-width: 400px;
}
.msgInput form input:focus{
  outline: none;
}
.msgInput form button{
  border: none;
  width: 20%;
  padding: 10px;
  border-radius: 10px;
  max-width: 100px;
}
.Counter{
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-bottom:2px solid;
  box-sizing: border-box;
}
.displayMsgs{
  display: flex;
  height: 90%;
  gap: 10px;
  border: 1px solid;
  flex-direction: column;
  padding: 10px;
  overflow: auto;
}
.displayMsgs div{ 
  display: flex;
  flex-direction: column;
  max-width: 70%;
  border-radius: 5px;
  padding: 10px;

}
.displayMsgs div p{
  overflow-wrap: break-word;
  margin: 0;
  font-size: .8rem;
  color: hsl(0, 0%, 0%);
}
.displayMsgs div h3{
  overflow-wrap: break-word;
  font-size: 1rem;
  margin: 0;
  font-weight: 300;
  color: hsl(0, 0%, 0%);
}
.displayMsgs .UsersMessage{
  background-color: rgb(0, 157, 255);
  align-self: flex-end;
}
.displayMsgs .OtherMessages{
  background-color: rgb(239, 239, 239);
  align-self: flex-start;
}